name: Docker to ECR

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ap-south-1

    - name: Login to Amazon ECR
      uses: aws-actions/amazon-ecr-login@v2

    - name: Build and Tag Docker image
      run: |
        SHORT_SHA=$(echo $GITHUB_SHA | cut -c1-7)
        IMAGE_URI=128756900127.dkr.ecr.ap-south-1.amazonaws.com/PYTHON_PROJECT:$SHORT_SHA
        docker build -t PYTHON_PROJECT .
        docker tag PYTHON_PROJECT $IMAGE_URI
        docker tag PYTHON_PROJECT 128756900127.dkr.ecr.ap-south-1.amazonaws.com/PYTHON_PROJECT:latest

    - name: Push Docker image to ECR
      run: |
        SHORT_SHA=$(echo $GITHUB_SHA | cut -c1-7)
        docker push 128756900127.dkr.ecr.ap-south-1.amazonaws.com/PYTHON_PROJECT:$SHORT_SHA
        docker push 128756900127.dkr.ecr.ap-south-1.amazonaws.com/PYTHON_PROJECT:latest
